services:
  mongo:
    image: mongo:8.2.2-noble
  api:
    build: 
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    env_file:
      - .env
    restart: always
    command: pnpm run start:dev
    volumes:
      - .:/usr/src/app
      
    